{% extends "layout/base.html" %}

{% block title %}
{% endblock %}


{% block content %}

{% if 'tuyen' in products %}
<h1 class="subject">Danh muc san pham</h1>
  <table>
      <tr>
          <th>ID</th>
          <th>di</th>
          <th>den</th>
          <th>description</th>
      </tr>
      <tr>
          <th>ID</th>
          <th>di</th>
          <th>den</th>
          <th>description</th>
      </tr>
      {% for p in products %}
      <tr>
          <td>{{p.id}}</td>
          <td>{{p.di}}</td>
          <td>{{p.den}}</td>
          <td>{{p.description}}</td>
      </tr>
      {% endfor %}
  </table>

{% endif %}
{% endblock %}